html, body{
	font-family: Arial, sans-serif;
	margin: 0;
	background-image: url("vikings.jpg");

} 
header{
	padding: 40px;
	text-align: center;
}
h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
	margin: 0;
	text-transform: uppercase;

}

header img{
	border-radius: 53px;
    width: 300px;
    border: 10px solid #ffffcc;
    box-shadow: 0 10px 20px black;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: lightgrey;
	font-size: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: red;
	background-color: #77773c;
	text-decoration: none;
}

a:hover{
	background-color: #330000;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #003300;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}