html, body{
	font-family: Arial, sans-serif;
	color: #C18D21;
	text-transform: uppercase;
	font-size: 25px;
	margin: 0;
	background-color: #0C1F34;




} 
header{
	padding: 40px;
	text-align: center;
}
h1{
	font-size: 110px;
	color: #C18D21;
	text-shadow: 0 4px 20px black;
	margin: 0;
	text-transform: uppercase;

}

header img{
	border-radius: 0px;
    width: 400px;
    border: 10px solid #C18D21;
    box-shadow: 0 10px 20px black;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
	height: auto;
}

p.caption{
	font-size: 16px;
	color: #C18D21;
	font-size: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: red;
	background-color: #C18D21;
	text-decoration: none;
}

a:hover{
	background-color: #330000;
}

footer{
	margin-top: 50px;
	padding: 20px 20px;
	background-color: #00001a;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
	color: white;
}